.addSpendigHeading {
    width: 40vw;
    height: 10vh;
    margin: auto;
    padding-top: 3vh;
    margin-top: 3vh;
    margin-bottom: 1vh;
    text-align: center;
  }
  .spendingFormContainer{
    display: flex;
    height: 29vh;
    flex-direction: column;
    justify-content: space-between;
    gap: 42px;
  }