/* //index.css */
* {
  box-sizing: border-box;
}
.mainheading {
  width: 94%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 7vw;
  margin-bottom: 2vh;
  gap: 10px;
  padding-left: 32vw;
  align-items: baseline;
  /* padding-top: 9vh; */
}
.sub-heading {
  display: flex;
  width: 36vw;
  gap: 1.5vw;
}
.amountheading {
  margin: 0px;
  font-size: 24px;
}
.profile {
  width: 320px;
}
.sub-profile {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.lang-icon-container {
  display: flex;
  flex-direction: column;
  /* width: 3vw; */
}
.sub-profile-icon {
  display: flex;
  flex-wrap: nowrap;
  width: 168px;
  justify-content: space-evenly;
  align-items: center;
  height: 6vh;
  border: 2px solid white;
  border-radius: 16px;
}
.darkmode-container {
  display: flex;
  flex-direction: column;
  width: 5vw;
  height: 6vh;
  justify-content: space-between;
  align-items: center;
}
.darkmode-switch {
  padding-top: 6px;
}

.header-subcontainer {
  display: flex;
  flex-direction: row;
  width: 140px;
  justify-content: space-between;
}

/* /// Dark Mode Toggle */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  margin: 4px auto 1px auto;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-toggle {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.theme-text {
  color: #ffffff;
  font-size: 15px;
}

/* The slider */
.slider {
  --background: #0c428c;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #ffffff;
  background: var(--background);
  transition: 0.5s;
}

input:checked + .slider {
  background-color: #576b7e;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px rgb(255, 251, 180);
  background-color: #ffffff;
}
