:root {
  --light-color: #2c3e50;
}
p {
  text-align: center;
  color: var(--light-color);
}
.AdminContributionList {
  width: 99%;
  justify-content: space-around;
  margin: 5vh 0;
}
.contributionList__primary {
  display: flex;
  justify-content: space-between;
  width: 60vw;
}
.totalAmountList {
  width: 92%;
  justify-content: space-around;
  margin: 5vh 0;
  padding-left: 14%;
}
.AdminContributionList--primary {
  width: 99%;
  justify-content: space-around;
  padding: 0 7vw;
  margin-bottom: 2vh;
  gap: 10px;
    padding-left: 35vw;
}
.inputoptions {
  width: 94%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 7vw;
  margin-bottom: 2vh;
  gap: 10px;
    padding-left: 35vw;
}

.ant-menu-horizontal .ant-menu-submenu {
  padding: 4px;
  padding-left: 10px;
  margin: auto;
  /* border: 2px solid red  ; */
}
.profile ul {
  width: 160px;
  background-color: var(--primary);
  border: 2px solid white;
  border-radius: 15px;
}
.profile .ant-menu-title-content {
  color: white;
  font-size: 16px;
}
.ant-table-wrapper .ant-table-thead{
  border-bottom: 2px solid lightgray;
}

.dateInputs{
  display: flex;
  width: 20vw;
  gap: 3vw;
}
.inputs{
  display: flex;
  width: 36vw;
  gap: 1.5vw;
}
.spendingAmountArea{
  
    /* width: 80%; */
    width: 26vw;
  
}
.monthlyfund-card{
  width: 67vw;
  margin: auto;
}

.contributionStatus{
  margin: auto;
  padding-bottom: 15px;
}
.heading1{
  margin: 0px;
  font-size: 21px;
  display: none;
}

/* .ag-center-cols-container {
  width: 100% !important;
  height: 100% !important;
} */