.formOuterContainer {
  display: flex;
  justify-content: center;
  padding: 6vh 0;
  padding-bottom: 0;
}
.formInnerContainer {
  /* border: 2px solid grey; */
  border-radius: 11px;
  /* padding-bottom: 2vh; */
  width: 74%;
  height: 52vh;
}
.formInnerContainer-primary{
  border: 2px solid rgb(199, 199, 199);
  border-radius: 11px;
  /* padding-bottom: 2vh; */
  width: 74%;
  height: 52vh;
}
.ContributionFormContainer {
  display: flex;
  height: 26vh;
  flex-direction: column;
  justify-content: space-around;
  gap: 42px;
}
.Formcontainer__item {
  width: 26vw;
  border: 2px solid rgb(64, 124, 255);
}
.formHeading {
  width: 40vw;
  height: 10vh;
  margin: auto;
  padding-top: 3vh;
  margin-top: 5vh;
  text-align: center;
}
.amountArea {
  /* width: 80%; */
  width: 16vw;
}
.pay-btn {
  width: 13vw;
}
