#root{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}
.outerContainer {
  height: 75vh;
  padding-bottom: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerContainer {
  border: 2px solid grey;
  padding-bottom: 2vh;
  border-radius: 15px;
}
.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50vw;
  height: 30vh;
}
.signInHeading {
  width: 100%;
  height: 10vh;
  margin: auto;
  padding-top: 3vh;
  margin-top: 5vh;
  text-align: center;
}
.formContainer {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


/*************************/

/* .login-outer-wrapper */
.loginouter-wrapper{
  height: 75vh;
  padding-bottom: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26vw;
    margin: auto;
}

.login-inner-wrapper{
  border: 2px solid grey;
  padding-bottom: 2vh;
  /* border-radius: 15px; */
  width: 100%;
}
.login-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 30vh;
}

.forgot-password-link {
  color: grey;
  display: flex;
  justify-content: end;
  width: 16vw;
}

.login-button{
  margin-left: 18%;
    width: 50%;
}

.login-button-bottom{
  margin-left: 12%;
  width: 60%;
}

/* .ant-row{
  justify-content: end;
} */


/* .ant-row .ant-form-item-control-input{
  display: flex;
  justify-content: end;
}

.ant-row .ant-form-item-control-input-content:first-child{
  display: flex;
  justify-content: end;
} */

/* .ant-form-item-control-input{
  display: flex;
  justify-content: end;
} */

/* .ant-form-item-control-input-content:first-child{
  display: flex;
  justify-content: end;
} */