.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 50vw;
    border: 2px solid #eeeeee;
}

.logo {
    width: 100%;
    height: 25%;
    background-color: #4569af;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 220%;
}

.mail-body {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10% 0 10%;
}

button {
    height: 15%;
    width: 35%;
    border: 1px solid #4569af;
    border-radius: 2px;
    background-color: #4569af;
    margin-top: 5%;
}

a {
    text-decoration: none;
    color: white;
}